server:
  port: 8080
  mode: dev
mysql:
  host: 127.0.0.1
  port: 3306
  user: root
  password: example
  db_name: tiny_douyin
redis:
  host: 127.0.0.1
  port: 6379
  password: ""
  db: 0
log:
  level: info
  encoding: console
  development: true

